/*placeholder设置字体和颜色*/
::-webkit-input-placeholder{
	font-family:"microsoft yahei";
	color: #999999;
}
:-moz-placeholder{
	font-family:"microsoft yahei";
	color: #999999;
}
::-moz-placeholder{
	font-family:"microsoft yahei";
	color: #999999;
}
:-ms-input-placeholder{
	font-family:"microsoft yahei";
	color: #999999;
}

/*清除浮动*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}
.clear {
	clear: both;
}

/*  超过100px显示...  */
.text-overflow {
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*  
 * 兼容ie8 rgba()用法
 * 透明度对应值
 * .1    19
 * .2    33
 * .3    4C
 * .4    66
 * .5    7F
 * .6    99
 * .7    B2
 * .8    C8
 * .9    E5
 */
.rgba-ie8 {
	background: rgba(255,255,255,.1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);
}

/* 透明度兼容 */
.class-name {
	filter: alpha(opacity = 50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/*css 禁止选择*/
/*
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;
user-select: none;
*/

/*
语法：
user-select：none | text | all | element

默认值：text

适用于：除替换元素外的所有元素

继承性：无

动画性：否

计算值：指定值

取值：
none：文本不能被选择
text：可以选择文本
all：当所有内容作为一个整体时可以被选择。如果双击或者在上下文上点击子元素，那么被选择的部分将是以该子元素向上回溯的最高祖先元素。
element：可以选择文本，但选择范围受元素边界的约束
*/

/* 
npm 搭建 http 服务
打开 cmd
npm install http-server -g
cd 到文件目录
http-server [path] [options]
访问: http://localhost:8080 or http://127.0.0.1:8080


参数
-p 端口号 (默认 8080)

-a IP 地址 (默认 0.0.0.0)

-d 显示目录列表 (默认 'True')

-i 显示 autoIndex (默认 'True')

-e or --ext 如果没有提供默认的文件扩展名(默认 'html')

-s or --silent 禁止日志信息输出

--cors 启用 CORS via the Access-Control-Allow-Origin header

-o 在开始服务后打开浏览器
-c 为 cache-control max-age header 设置Cache time(秒) , e.g. -c10 for 10 seconds (defaults to '3600'). 禁用 caching, 则使用 -c-1.
-U 或 --utc 使用UTC time 格式化log消息

-P or --proxy Proxies all requests which can't be resolved locally to the given url. e.g.: -P http://someurl.com

-S or --ssl 启用 https

-C or --cert ssl cert 文件路径 (default: cert.pem)

-K or --key Path to ssl key file (default: key.pem).

-r or --robots Provide a /robots.txt (whose content defaults to 'User-agent: *\nDisallow: /')

-h or --help 打印以上列表并退出

*/



/*
npm 搭建热更新服务  live-server

全局安装：
npm install -g live-server

启动方式： live-server

报错： Error: listen EACCES 0.0.0.0:8080

解决方式： 
1. 以管理员方式打开cmd
2. 运行 net stop http
3. 按Y确定
4. 如果显示http服务无法停止，那么运行 Sc config http start= disabled
5. 重启
*/