/*placeholder设置字体和颜色*/
::-webkit-input-placeholder{
	font-family:"microsoft yahei";
	color: #999999;
}
:-moz-placeholder{
	font-family:"microsoft yahei";
	color: #999999;
}
::-moz-placeholder{
	font-family:"microsoft yahei";
	color: #999999;
}
:-ms-input-placeholder{
	font-family:"microsoft yahei";
	color: #999999;
}

/*清除浮动*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}
.clear {
	clear: both;
}

/*  超过100px显示...  */
.text-overflow {
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*  
 * 兼容ie8 rgba()用法
 * 透明度对应值
 * .1    19
 * .2    33
 * .3    4C
 * .4    66
 * .5    7F
 * .6    99
 * .7    B2
 * .8    C8
 * .9    E5
 */
.rgba-ie8 {
	background: rgba(255,255,255,.1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);
}

/* 透明度兼容 */
.class-name {
	filter: alpha(opacity = 50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/*css 禁止选择*/
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;
user-select: none;

/*
语法：
user-select：none | text | all | element

默认值：text

适用于：除替换元素外的所有元素

继承性：无

动画性：否

计算值：指定值

取值：
none：文本不能被选择
text：可以选择文本
all：当所有内容作为一个整体时可以被选择。如果双击或者在上下文上点击子元素，那么被选择的部分将是以该子元素向上回溯的最高祖先元素。
element：可以选择文本，但选择范围受元素边界的约束
*/