/*placeholder设置字体和颜色*/
::-webkit-input-placeholder{
	font-family:"microsoft yahei";
	color: #999999;
}
:-moz-placeholder{
	font-family:"microsoft yahei";
	color: #999999;
}
::-moz-placeholder{
	font-family:"microsoft yahei";
	color: #999999;
}
:-ms-input-placeholder{
	font-family:"microsoft yahei";
	color: #999999;
}

/*清除浮动*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}

/*  超过显示...  */
.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*  
 * 兼容ie8 rgba()用法
 * 透明度对应值
 * .1    19
 * .2    33
 * .3    4C
 * .4    66
 * .5    7F
 * .6    99
 * .7    B2
 * .8    C8
 * .9    E5
 */
.rgba-ie8 {
	background: rgba(255,255,255,.1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);
}
